.calculator {
  clear: both;
  width: 93.5%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 9px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.calculator__title {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  font-weight: 400;
  color: #3E3D3F;
  letter-spacing: .21px;
  padding-bottom: 7px;
  border-bottom: 1px solid #cacaca;
}

.calculator__form {
  padding-top: 9px;
}

.calculator__years-of-mortgage {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  font-weight: 700;
  color: #3E3D3F;
  letter-spacing: .16px
}

.calculator__range-input {
  width: 59%;
  margin-top: 8px;
}

.calculator__input-container {
  display: flex;
  align-items: center;
  margin-top: -5px;
  justify-content: space-between;
  margin-bottom: 14px;
}

.calculator__direct-slider-input {
  height: 42px;
  width: 20%;
  border: 1px solid #A6A6A6;
  border-radius: 6px;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: 400;
  color: #0D0D0D;
  text-align: center;
}

.calculator__reference-value {
  margin: 0;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: 400;
  color: #3E3D3F;
}

.calculator--reference-first {
  width: 7.55%;
}