@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Roman.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Thin.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Heavy.otf');
  font-weight: 700;
}