.calculator__range-input {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}
.calculator__range-input:focus {
  outline: none;
}
.calculator__range-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #cacaca;
  border-radius: 1px;
  border: 0px solid #010101;
}
.calculator__range-input::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 0px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
.calculator__range-input:focus::-webkit-slider-runnable-track {
  background: #ebebeb;
}
.calculator__range-input::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #cacaca;
  border-radius: 1px;
  border: 0px solid #010101;
}
.calculator__range-input::-moz-range-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 0px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.calculator__range-input::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.calculator__range-input::-ms-fill-lower {
  background: #a9a9a9;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.calculator__range-input::-ms-fill-upper {
  background: #cacaca;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.calculator__range-input::-ms-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 0px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 8px;
}
.calculator__range-input:focus::-ms-fill-lower {
  background: #cacaca;
}
.calculator__range-input:focus::-ms-fill-upper {
  background: #ebebeb;
}