.results {
  position: relative;
  width: 93.5%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 9px 20px 8px;
  z-index: 1;
  margin-top: -5px;
  background: #EAF6FA;
  padding-top: 13px;
  max-width: 470px;
}
 
.results__title {
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: 400;
  color: #3E3D3F;
  letter-spacing: .21px;
}

.results__row {
  display: flex;
  justify-content: space-between;
}

.results--text-group {
  border-bottom: 1px solid #333;
  align-items: center;
}

.results--text-group:last-child {
  border-bottom: 0;
}

.results__category-text {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  font-weight: 300;
  color: #3E3D3F;
  letter-spacing: .21px;
}

.results__category-result {
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: 300;
  color: #3E3D3F;
  letter-spacing: .21px;
}

.results--big-font {
  font-size: 18px;
}

@media screen and (min-width: 780px){
  .results {
    margin: 0;
    width: 298px;
    max-width: 298px;
    margin-left: -21px;
    margin-right: 17px;
    padding-left: 59px;
    padding-right: 43px;

    height: 441px;
  }

  .results__title {
    font-size: 26px;
    margin-bottom: 37px;
  }

  .results__category-text {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .results__category-result {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
  }

  .results--big-font {
    font-size: 22px;
  }

  .results--big-font--only-desktop {
    font-size: 18px;
  }

  .results--text-group {
    padding-left: 6px;
    border-bottom: 0;
    display: block;
    margin-bottom: 31px;
  }

  .results--border-bottom {
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 5px;
    margin-bottom: 26px;
  }

  .results--no-padding {
    padding-left: 4px;
  }
  
}