* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.main-title {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 20px;
  width: 93.7%;
  float: right;
  margin-top: 24px;
  letter-spacing: .8px;
  line-height: 24px;
  padding-bottom: 9px;
  border-bottom: 1px solid #cacaca;
  color: #006EA0;
  margin-bottom: 21px;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  /* Tablet */
}

@media screen and (min-width: 900px) {
  /* Desktop */
}