* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.main-title {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 20px;
  width: 93.7%;
  float: right;
  margin-top: 24px;
  letter-spacing: .8px;
  line-height: 24px;
  padding-bottom: 9px;
  border-bottom: 1px solid #cacaca;
  color: #006EA0;
  margin-bottom: 21px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type='number'] {
  -moz-appearance:textfield;
}

@media screen and (min-width: 780px) {
  main {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .main-title {
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
    float: none;
    margin: 15px auto;
    padding-bottom: 16px;
    letter-spacing: 0;
    margin-bottom: 25px;
  }
}